

// color variables
$grey: #414042;
$blue: #0E426A;
$blue-dark: #214099;
$navy: #002856;
$teal: #4AACC4;
$blue-grey: #9DB7B5;
$green: #66BD5A;
$lime: #A2CE4D;
$yellow: #FFF200;
$fawn: #F9F1DD;
$red: #D22E27;


@import "reset";

@import "fonts";

@import "mixins";

@import "base";

@import "grid";



body {
	background: white;
}

// background-container
.wrap {
	max-width: 900px;
	margin: 0 auto;
}


.header {
	display: block;

	@include respond-to( 768px ) {
		margin-top: 10px;
	}
}


.form-title, .rates {
	display: block;
	height: 50px;
	margin-left: -20px;
	background: url(../img/bg-flag-left.png) right center no-repeat;
	background-size: cover;
	color: $red;
	font-size: 25px;
	line-height: 50px;
	padding: 0;
	text-align: center;

	@include respond-to( 768px ) {
		max-width: 56%;
	}
}


.rates {
	background: url(../img/bg-flag-right.png) left center no-repeat;
	margin-left: 0;
	margin-right: -20px;
	
	a {
		color: $red;
	}

	@include respond-to( 768px ) {
		float: right;
		width: 56%;
	}
}


.content {
	position: relative;
	background: $red;
	color: white;
	padding: 20px;
	@include clearfix;

	h1 {
		@include font-title;
		color: white;

		@include respond-to( 1024px ) {
			span {
				display: block;
			}
		}
	}
	
	p {
		font-size: 1.2em;
		line-height: 1.5em;
	}

	.half:last-child { 
		padding-top: 20px;

		.right-content {
			padding: 20px 0;
		}
	}

	@include respond-to( 768px ){
		.half:first-child {
			width: 51%;

			input[type=submit] {
				float: left;
				margin-top: 10px;
				margin-bottom: -50px;
			}
		}

		.half:last-child {
			width: 41%;
			margin-left: 2.5%;
			padding-top: 0;

			.right-content {
				margin-right: -20px;
				background: url(../img/presents.png) right center no-repeat;
				background-size: contain;
				padding-right: 50%;
				font-size: .8em;
				line-height: 1.2em;

				@include respond-to( 1024px ) {
					margin-top: 20px;
				}

				p {
					padding: 15px 0;
				}
			}
		}
	}

	.clock-container {
		background: $blue-grey;
		border-radius: 25px;
		padding-bottom: 40px;
		box-shadow: 10px 10px 25px rgba( black, .2 );

		@include respond-to( 768px ) {
			margin-top: -30px;
		}

		.pad {
			padding: 20px;
		}

		.clock {
			font-size: 3em;
			line-height: 1.5em;
			letter-spacing: 1px;
			text-align: center;
		}

		.clock-labels {
			background: white;
			color: $teal;

			label {
				float: left;
				width: 40%;
				text-align: center;
				font-size: 1.6em;
				line-height: 2em;

				&.small {
					width: 30%;
				}
			}
		}
	}
}


.footer {
	a {
		text-decoration: none;
	}

	.wrap {
		padding: 20px;
	}

	.logo {
		text-align: center;

		@include respond-to( 768px ) {
			float: left;
			width: 30%;
		}
	}

	.footer-content {
		text-align: center;
		color: $navy;
		text-transform: uppercase;
		margin: 0;

		@include respond-to( 768px ) {
			float: left;
			width: 52%;
			padding: 20px 0 0;
		}
	}

	h3 {
		font-size: 1.4em;

		@include respond-to( 768px ) {
			padding: 5px 0;
		}
	}

	h2 {
		font-size: 1.7em;
		font-weight: bold;

		@include respond-to( 768px ) {
			font-size: 2em;
			padding: 5px 0;
		}
	}
}

.contact-bar {
	background: $blue-grey;
	text-align: center;
	padding: 10px 0;
	font-size: .9em;
	line-height: 1.6em;
	
	a {
		color: white;
	}

	@include respond-to( 768px ) {
		text-align: left;
		line-height: 50px;
	}
	
	img {
		display: none;
		
		@include respond-to( 768px ) {
			display: block;
			float: left;
			margin-right: 5px;
		}
	}


}

.disclaimer {
	@include clearfix;
	font-size: .7em;
	line-height: 1.2em;
	padding: 20px;
}


// colors
.bg-blue { background: $blue; }
.bg-blue-dark { background: $blue-dark; }
.bg-teal { background: $teal; }
.bg-green { background: $green; }
.bg-lime { background: $lime; }



// button styles
input[type=submit], button, .btn {
	@include font-title;
	padding: 15px 30px;
	background: $blue-grey;
	color: white;
	border: 0;
	border-radius: 20px;
	font-size: 1.2em;
	line-height: 1.4em;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	
	&:hover {
		opacity: lighten( $blue-grey, 5% );
	}
}



